= semantic_form_for @studio do |f|
  = f.inputs do
    = f.input :name
    = f.input :address
    = f.input :lat
    = f.input :lng
    = f.input :photo_url
    = f.input :studio_url

  = f.buttons do
    = f.commit_button
