%h1 Listing studios

%table
  %tr
    %th Name
    %th Address
    %th

  - @studios.each do |studio|
    %tr
      %td= studio.name
      %td= studio.address
      %td= link_to 'Add to Google Calendar', "http://www.google.com/calendar/render?cid=#{CGI.escape(studio_path(studio, :format => :ics, :only_path => false))}"
      %td= link_to 'Add to iCal', studio_path(studio, :format => :ics)

%br

